*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: black;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    background-repeat: no-repeat;
    background-size:cover;
    font-size: 120%;
}
.card{
    background-color:black;
    color: white;
    padding: 2em; 
    /* 1 em=16px  */
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}
/* -----------------search box------------- */
.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;

}
button{
    margin:0.5em;
    border-radius: 70%;  
    border: none;
    width: 40px;
    height: 40px;
    outline: none;
    background:#7c7c7c2b; 
    color:white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    
}
button:hover{
    background:white ;
    
}
 .search input{
    border-radius: 24px;
    border: none;
    outline: none;
    padding:10px 10px 5px 10px;
    background-color:#7c7c7c2b;
    color: white;
    font-size: 120%;
    width: 100%;
    

}
.description{
    text-transform: capitalize;
}
/*.weather.loading{
    visibility: hidden;
    max-height: 20px;
    position: relative;
}
/*.weather.loading:after{
    visibility: visible;
    content: "Loading.......";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
}*/
/* -------------------addding media query--------------- */

/* -----------------for very small device--------------- */
@media screen and  (min-width: 200px) and (max-width:300px) { 
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background: black;
        background-image: url('https://source.unsplash.com/1600x900/?landscape');
        background-repeat: no-repeat;
        background-size:cover;
        font-size: 120%;
    }
    .card{
        background-color:black;
        color: white;
        padding: 2em; 
        /* 1 em=16px  */
        border-radius: 30px;
        width: 85%;
        height: 400px;
        max-width: 420px;
        margin: 1em;
    }
    /* -----------------search box------------- */
    .search{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:center;
    
    }
    button{
        margin:0.8em;
        border-radius: 70%;  
        border: none;
        width: 43px;
        height: 43px;
        outline: none;
        background:#7c7c7c2b; 
        color:white;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        
    }
    button:hover{
        background:white ;
        
    }
     .search input{
        border-radius: 24px;
        border: none;
        outline: none;
        padding:10px 10px 5px 10px;
        background-color:#7c7c7c2b;
        color: white;
        font-size: 120%;
        width: 100%;
        
    
    }
    .description{
        text-transform: capitalize;
    }
    .weather{
        font-size:18px;
    }
    .weather .city{
        font-size: 18px;
    }
    
    
   
 }

 /* -----------------for very medium device--------------- */
@media screen and  (min-width: 301px) and (max-width:500px) { 
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background: black;
        background-image: url('https://source.unsplash.com/1600x900/?landscape');
        background-repeat: no-repeat;
        background-size:cover;
        font-size: 120%;
    }
    .card{
        background-color:black;
        color: white;
        padding: 2em; 
        /* 1 em=16px  */
        border-radius: 30px;
        width: 85%;
        height: 400px;
        max-width: 420px;
        margin: 1em;
    }
    /* -----------------search box------------- */
    .search{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:center;
    
    }
    button{
        margin:0.8em;
        border-radius: 70%;  
        border: none;
        width: 43px;
        height: 43px;
        outline: none;
        background:#7c7c7c2b; 
        color:white;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        
    }
    button:hover{
        background:white ;
        
    }
     .search input{
        border-radius: 24px;
        border: none;
        outline: none;
        padding:10px 10px 5px 10px;
        background-color:#7c7c7c2b;
        color: white;
        font-size: 120%;
        width: 100%;
        
    
    }
    .description{
        text-transform: capitalize;
    }
    .weather{
        font-size:20px;
    }
    .weather .city{
        font-size: 25px;
    }
    
    
   
 }
 /* -----------------for very large device--------------- */
@media screen and  (min-width: 501px) and (max-width:600px) { 
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background: black;
        background-image: url('https://source.unsplash.com/1600x900/?landscape');
        background-repeat: no-repeat;
        background-size:cover;
        font-size: 120%;
    }
    .card{
        background-color:black;
        color: white;
        padding: 2em; 
        /* 1 em=16px  */
        border-radius: 30px;
        width: 80%;
        height: 400px;
        max-width: 420px;
        margin: 1em;
    }
    /* -----------------search box------------- */
    .search{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:center;
    
    }
    button{
        margin:0.8em;
        border-radius: 70%;  
        border: none;
        width: 43px;
        height: 43px;
        outline: none;
        background:#7c7c7c2b; 
        color:white;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        
    }
    button:hover{
        background:white ;
        
    }
     .search input{
        border-radius: 24px;
        border: none;
        outline: none;
        padding:10px 10px 5px 10px;
        background-color:#7c7c7c2b;
        color: white;
        font-size: 120%;
        width: 100%;
        
    
    }
    .description{
        text-transform: capitalize;
    }
    .weather{
        font-size:26px;
    }
    .weather .city{
        font-size: 34px;
    }
    
    
   
 }
